In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(data)
df.head()

In [ ]:
pd.set_option('display.max_rows',100)
df_c= df['CY Level -> FY22 Level (A1>A2, S1->S2, S3->M1, etc)'].str.replace("\W+", " ")
df_c[df_c.str.len() <=5].

C:\Users\tarut\AppData\Local\Temp/ipykernel_8448/1903638359.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_c= df['CY Level -> FY22 Level (A1>A2, S1->S2, S3->M1, etc)'].str.replace("\W+", " ")

array(['A2 S1', 'S3 S4', 'A1 A2', 'S1 S2', 'M1 M2', 'S2 M1', 'A2 A3',
       'S2 S3', 'A3 S1', '', 'S3 M1', 'M2 M3', 'A1', 'SA3'], dtype=object)

In [ ]:
df['CY Level -> FY22 Level (A1>A2, S1->S2, S3->M1, etc)'].str.split("->")

0                                            [A2 ,  S1]
1     [A1 ,  A2 (?) (Does 6 months to the end of the...
2     [Don't know yet, but I'd be surprised if it wa...
3                                             [S3 > S4]
4                                            [A1 ,  A2]
                            ...
83                                      [) New hire A3]
84                                                [SA3]
85                           [A3,  S1 (Mid Year Promo)]
86                                                 [A1]
87                                              [A1>A2]
Name: CY Level -> FY22 Level (A1>A2, S1->S2, S3->M1, etc), Length: 88, dtype: object